/* YOUR STYLING HERE */
li {
  list-style-type: none;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 1px;
  padding-top: 2px;
}

div {
  padding-left: 50px;
  padding-right: 50px;
}

.pic {
  margin-left: 10px;
  margin-top: 20px;
}

.screenName {
  margin-left: 10px;
  color: $grey;
}

.name {
  font-weight: 400;
}

.names {
  padding-top: 16px;
  font-family: "Comic Sans MS";
  font-size: 15px;
  margin-bottom: 8px;

}

.icons {
  color: $grey;
  margin-top: 30px;
  margin-bottom: 12px;

}

.text {
  font-family: "Comic Sans MS";
  font-size: 18px;
  font-stretch: condensed;
  font-weight: 500;

}

.liked {
  color: $red;

}

.selected {
  color: $green;
}
